@using ToDoListDomain.Enum
@{
    ViewData["Title"] = "Home Page";
}
@*TODO #6 Верстаємо форму з полями вводу користувачем значень для "завдань"*@
<h4 class="mb-3 text-muted">Створення завдання</h4>
<form id="createTaskForm">
    <div class="mb-3">
        <label class="form-label">Назва задачі</label>
        <input name="name" type="text" class="form-control"/>
    </div>
    <label class="form-label">Пріоритет задачі</label>
    @*
    створюємо список "priority" з Enum який ми створювали за допомогою тега "asp-items="Html.GetEnumSelectList<Priority>()"
    *@
    <select name="priority" class="form-select mb-3" asp-items="Html.GetEnumSelectList<Priority>()"></select>

    <div class="mb-3">
        <label class="form-label">Опис завдання</label>
        <textarea name="description" type="text" class="form-control" rows="3"></textarea>
    </div>
    <button id="createTask" class="btn btn-primary">Створити</button>
</form>
@*TODO: #28 Додаємо поля для ввода значень для фільтрації*@
<br/>
<div class="row">
    <div class="form-group col-md-6">
        <label class="col-form-label">Назва</label>
        <input name="nameTask" type="text" class="form-control"/>
    </div>
    <div class="form-group col-md-6">
        <label class="col-form-label">Пріоритет</label>
        <select id="prioritySearch" class="form-control mb-3" asp-items="Html.GetEnumSelectList<Priority>()"></select>
    </div>
</div>
<br/>
@*TODO: #18 Додаємо табличку представлення даних на сторінці використовуючи сайт https://datatables.net/*@
<table class="table table-dark table-hover" id="taskTableId">
    <thead>
    <tr>
        <th>Назва</th>
        <th>Пріоритет</th>
        <th>Опис</th>
        <th>Готовність</th>
        <th>Дія</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

@*TODO: #7 для створення реагування на подію "клік" використовуємо бібліотеку JS "jQuery".  *@
@*
В секції "section Scripts" прописуємо всі скрипти *@

@section Scripts
{
    @*додаємо бібліотеку для роботи з табличкою з сайту https://datatables.net/*@
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    @*додаємо бібліотеку з сайту  https://sweetalert2.github.io/#download *@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
    
    //@*TODO: #19 За допомогою "jQuery" робимо запит до таблиці через  id="taskTableId"*@
    let dataTable = $('#taskTableId').DataTable({
    info:true, //загальна інформація про таблицю 
    serverSide:false, //якщо true то "sorting" та "paging" буде відбуватися на стороні сервера
    searching: false, //рядок пошуку
    paging: true, //к-сть елементів які буде показано
    sorting: false, //сортування
     //@*TODO: #20 Прописуємо логіку для таблиці (запит на сервер для отримання даних)*@
     ajax:{
         url:"@Url.Action("TaskHandler", "Task")", //@*TODO: #! можливо тут буде помилка через це я ХЗ, в прикладі без ", "Task""*@
         method: 'POST',
         data: model
     },//@*TODO: #25 Реалізуємо відображення даних в самій табличці)*@
     //функція для відображення колонок. !важливо дотримуватися того самого порядку колонок що отримуємо з БД
     columns:[
         {data:'name'},
         {data:'priority'},
         {data:'description'},
         {data:'isDone'},
         //тут буде кнопка тому такий код
         {data:null,
         sortable: false,
         render: function (data, type){
             return '<button class="btn btn-success btn-sm center-block">Виконати</button>'
         }
         },
     ],
     //тут прописуємо функцію яка відповідальна за створення рядків
     createdRow: function (nRow, data){
         for (var i = 0; i < dataTable.columns().header().length-1; i++){ //length-1 тому що в останній колонці в нас кнопка. можна протестити як працює
             $('td', nRow).eq(i).css('cursor','pointer'); //при наведенні буде мінятися курсор             
             $('td', nRow).eq(i).on('click',null); //по натиску буде відкриватися модальне вікно, але поки що null
         }
         $('td button', nRow).eq(i).on('click',null);
     }
    });
     
    
    @*TODO: #29 -----*@
        function model(){
        return  {
           Name: $('input[name="nameTask"]').val(),           
            Priority: $('#prioritySearch option:selected').val()             
            }
     }
    
     
     //обновляємо дані в табличці  
                 $('input[name="nameTask"]').on('change', function () {
                     dataTable.ajax.reload();
                    
                 });
                 
                 $('#prioritySearch').on('change', function () {
                     dataTable.ajax.reload();
                     
                 });
    //Кнопка "Створити" має id="createTask", на цей id ми навісимо подію "клік"
        $('#createTask').on('click', function (e){  //для функції function () передали параметр "е" щоб потім викликати на ньому
            e.preventDefault();                     //цей метод який не обновляє значення полів після натиску на кнопку "Створити"
            //ajax-для відправки даних без перезавантаження сторінки
            $.ajax({
            
                type: 'POST', //тип запиту "РОST" для передачи даних 
                url: '@Url.Action("Create", "Task")',// в метод Action передаємо "Create"-метод дії / "Task"-контроллер
                data: $('#createTaskForm').serialize(), //дані які передаємо знаходяться в <form id="createTaskForm"> і за допомогою метода 
                                                        //.serialize() групуємо всі дані які в <form> </form>
                                                        
              //  @*TODO: #16 опрацьовуємо успішний та не успішний результати додавання задачи *@
                //якщо успішно було додано то буде така реакція.
                //за допомогою сайта https://sweetalert2.github.io/#download додаємо бібліотеку реакцій   
                                              
                success: function (response) {
                    Swal.fire({                    
                      title: 'Інформація',
                      color: 'rgb(255,165,0)', //колір тексту "title"
                      text: response.description,                      
                      width: 600,
                      padding: '3em',
                      background: 'rgba(123,29,0,0.9)',//колір фону вікна яке вискакує
                      backdrop: `
                        rgba(0,0,123,0.4)
                        url("https://media.tenor.com/-AyTtMgs2mMAAAAi/nyan-cat-nyan.gif")
                        left top    
                        no-repeat
                      `
                    });
                    // Оновлення таблиці після успішного створення завдання
                        dataTable.ajax.reload(); // Оновлюємо дані в таблиці
                   
                },
                //якщо буде помилка то буде така реакція
                error: function (response) {
                     Swal.fire({
                        title: 'Інформація',
                        text: response.responseJSON.description,
                        icon: 'error',
                        confirmButtonText: 'Окей'
                     })
                }
            })
        });
    </script>

}