@using System.Reflection.Metadata
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - ToDoList</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/ToDoList.styles.css" asp-append-version="true"/>
    @*додаємо посилання на CSS файл для таблиці *@
    <link rel="stylesheet" href="http://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Task" asp-action="Index">ToDoList</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Task" asp-action="Index">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
@*TODO: #5 починаємо верстати*@
<div class="container">
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Виконані завдання</span>
                <span class="badge badge-secondary badge-pill text-muted" id="countOfCompletedTasks"></span>
            </h4>
            @*в цей блок коду буде вставлятися список (таблиця) виконаних задач*@
            <ul class="list-group mb-3" id="completedListTasks"></ul>
            <form>
                <div class="card col-md-12">
                    <button type="submit" class="btn btn-secondary">Закінчити день</button>
                </div>
            </form>
            <br/>
            <div class="form-group">
                <label>Нотатки для себе</label>
                <textarea class="form-control" rows="3"></textarea>
            </div>
        </div>
        <div class="col-md-8 order-md-1">
            @RenderBody()
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@*TODO: #37 Додаємо скрипт який буде робити запит до БД для отримання задач виконаних за сьогодні*@
<script >
$(document).ready(function (){
    $.ajax({
    type:'GET', //'GET' бо тільки отримуємо дані
    url:'@Url.Action("GetCompletedTasks", "Task")', //метод дії
    //якщо успішно то виконується цей код
    success: function (data){ 
        const ulElement = $('#completedListTasks');
        for (var i=0; i<data.data.length; i++){
            const task = data.data[i];
            //всередині функціх "append" вставляємо розмітку яка буде відображатися в "completedListTasks"
            ulElement.append(`
            <li class="list-group-item d-flex justify-content-between lh-condensed" style = "background-color: #affabf">
                <div>
                    <h6 class="my-0">Назва: ${task.name}</h6>
                    <small class="text-muted">Опис: ${task.description}</small>  
                </div>                
            </li>
            `)
        }
        @*скрипт який просто буде відображати кількість повернути записів тобто кількість виконаних задач за сьогодні*@
        $('#countOfCompletedTasks').text(data.data.length);
    }    
    })    
})

</script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>